body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 500px;
  padding-top: 200px;
}
.card{
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 10em;
  }
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  width: 200px;
}
.form-container {
  position: absolute;
  background: #eee;
  display: flex;
  width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  user-select: none;
}
.form-container > div {
    width: 300px;
    margin: 10px;
    padding: 5px;
}
.form-container h1 {
    color: #0097a7;
    margin: 0px 5px;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.form-container form {
    position: relative;
    width: 100%;
    padding: 5px 10px;
}
.form-container p {
    padding: 5px 10px;
    margin: 2.5px 0px;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 250px;
    padding: 7px 7px 7px 40px;
    margin: 5px 0px;
    outline: 1px solid #888;
    border: 0px solid #0000;
    border-radius: 5px;
}
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
    outline: 2px solid #ffab40;
}
.form-container input[type="checkbox"] {
    margin-right: 10px;
}
.flex-row {
    display: flex;
    align-items: center;
}
.form-container label {
    align-items: center;
    cursor: pointer;
}
.form-container input[type="submit"] {
    margin-left: auto;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    background: #55ecfc;
    cursor: pointer;
}
.form-container input[type="submit"]:hover {
    background: #ffab40;
}
.form-container .input-icon {
    position: absolute;
    left: 10px;
    margin: 5px 0px;
    width: 30px;
    height: 29px;
    background: #ddd;
    outline: 1px solid #888;
    border-right: 0px solid #0000;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    line-height: 29px;
}
.form-container input:focus + .input-icon {
    color: #ffab40;
    outline: 2px solid #ffab40;
    margin: 5px 0px;
}